* {
  box-sizing: border-box;
}



.image-grid {
  margin-top: 50px;
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  
}

.image-grid img {
  margin-top: 20px;
}